@font-face {
  font-family: "Latin";
  src: url("./Resources/fonts/SouthCrew-VGw2e.ttf") format("truetype");
}

.nav-logo-contianer img {
  width: 75px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: #f0a500;
  border-radius: 10px;
}

.Navbar-links-container a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin: 0 10px;
  font-family: Latin;
}

.Navbar-links-container a:hover {
  color: #f0a500;
}