.custom-calendar-container {
  padding-top: 100px;
  padding-bottom: 40px;
  text-align: center;
}

.custom-calendar-logo {
  height: 80px;
  width: auto;
  display: block;
  margin: 0 auto -35px auto;
}

.custom-calendar-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  padding: 10px;
}

/* Blank Background*/
.custom-calendar-layout-made,
.custom-calendar-layout-overview,
.custom-calendar-layout-features,
.custom-calendar-layout-architecture {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  padding: 40px 30px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1),
              inset 0 0 0 1px rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
}

.custom-calendar-layout-made {
  max-width: 240px;
}

.custom-calendar-layout-overview {
  max-width: 300px;
}

.custom-calendar-layout-features {
  max-width: 220px;
}

.custom-calendar-layout-architecture {
  max-width: 255px;
}

.custom-calendar-intro-header-img,
.made-with,
.overview-header,
.features-header,
.architecture-header {
  height: 60px;
  width: auto;
  display: block;
  margin: 0 auto 10px auto;
  transform: none;
}

.introduction-body,
.overview-body,
.features-body,
.architecture-body {
  display: flexbox;
  font-weight: 225;
  -webkit-text-stroke: 1px black;
  transform: translate(10px, 0px);
}

@media (max-width: 768px) {
  .custom-calendar-content {
    flex-direction: column;
    align-items: center;
  }

  .custom-calendar-layout-made,
  .custom-calendar-layout-overview,
  .custom-calendar-layout-features,
  .custom-calendar-layout-architecture {
    width: 90%;
    max-width: 100%;
  }
}