@font-face {
  font-family: "Latin";
  src: url("./Resources/fonts/SouthCrew-VGw2e.ttf") format("truetype");
}

@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}

.details-container {
  padding-top: 100px;
  padding-bottom: 40px;
  text-align: center;
}

.details-header {
  height: 80px;
  width: auto;
  display: block;
  margin: 0 auto -35px auto;
  transform: translateX(-30px);
}

.details-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:25px;
  padding: 10px;
}

.details-layout-edu {
  background-image: url('./Resources/art/Background Project/Gradients/Education Orange Marble Gradient.gif');
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  padding: 40px 30px;
  max-width: 200px;
  max-height: 175px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.details-layout-int {
  background-image: url('./Resources/art/Background Project/Gradients/Interests Orange Marble Gradient.gif');
  background-size: 300px;
  background-position: center;
  border-radius: 15px;
  background-repeat: no-repeat;
  padding: 40px 30px;
  max-width: 300px;
  max-height: 445px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.details-layout-editing-software {
  background-image: url('./Resources/art/Background Project/Gradients/Editing Software Orange Marble Gradient.gif');
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  padding: 40px 30px;
  max-width: 200px;
  max-height: 540px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.details-layout-coding-lang-framework {
    background-image: url('./Resources/art/Background Project/Gradients/Coding Lang Frameworks Orange Marble Gradient.gif');
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  padding: 40px 30px;
  max-width: 200px;
  max-height: 540px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.details-layout-emails {
  background-image: url('./Resources/art/Background Project/Gradients/Contacts Orange Marble Gradient.gif');
  background-position: center;
  background-size: 200px;
  border-radius: 15px;
  background-repeat: no-repeat;
  padding: 40px 30px;
  max-width: 240px;
  max-height: 160px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .details-content {
    flex-direction: column;
    align-items: center;
  }

  .details-card {
    width: 90%;
    max-width: 100%;
  }
}

.details-education-header,
.details-interests-header,
.details-skills-edit-software,
.details-skills-lang-framework,
.details-emails-header {
  animation: float 10.68s ease-in-out infinite;
  margin-bottom: -30px;
}

.details-education,
.details-interests,
.details-skill {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  line-height: 1.8;
}

.education-and-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts-header {
  display: flexbox;
  transform: translate(-60px, -50px);
}

.education-header {
  display: flexbox;
  transform: translate(-75px, -50px);
}

.editing-software-header {
  display: flexbox;
  transform: translate(-85px, -50px);
}

.coding-lang-framworks-header {
  display: flexbox;
  transform: translate(-85px, -50px);
}

.interests-header {
  display: flexbox;
  transform: translate(-25px, -50px);
}

.editing-software-body,
.coding-lang-framworks-body {
  display: flexbox;
  transform: translate(-10px, -70px)
}

.contacts-body,
.education-body,
.interests-body {
  display: flexbox;
  transform: translate(10px, -85px)
}