@font-face {
  font-family: "Latin";
  src: url("./Resources/fonts/SouthCrew-VGw2e.ttf") format("truetype");
}

.home-name-text-container {
  position: absolute;
  top: 15%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 1;
  color: rgb(0, 0, 0);
}

.home-name-text-container h1 {
  font-size: 3rem;
  margin-bottom: 0rem;
  font-family: Latin;

  display: inline-block;
  animation: float 10.68s ease-in-out infinite;
}

.home-name-text-container p {
  font-size: 1.2rem;
  margin-top: 0rem;
  font-family: 'Times New Roman', Times, serif;

  animation: float 10s ease-in-out infinite;
}

@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}

/* @keyframes float {
  0%   { transform: translateY(0) rotate(0deg); }
  50%  { transform: translateY(-8px) rotate(2deg); }
  100% { transform: translateY(0) rotate(0deg); }
} */