/* .home-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  z-index: 0
}

.home-banner-container {
  width: 70%;
  height: 70vh;
}


@media (max-width: 375px) {
  .home-container {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .home-banner-container {
    width: 100;
  }
} */

/* 855 */

.home-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.home-banner-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 70vh;
  z-index: 0;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .home-banner-container {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .home-banner-container {
    width: 80%;
  }
}