@font-face {
  font-family: "Latin";
  src: url("./Resources/fonts/SouthCrew-VGw2e.ttf") format("truetype");
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-sizing: border-box;
}

.Navbar-links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

@media (max-width: 768px) {
  .Navbar-links-container {
    display: none;
  }
}

.nav-logo-contianer img {
  width: 75px;
  height: 70px;
  object-fit: cover;
  border: #f0a500;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .Navbar-logo-container {
    display: none;
  }
}

.Navbar-links-container a:hover {
  color: #8400ff;
}

.home-link-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-left: 6px;

}

.home-button,
.details-button,
.youtube-button,
.github-button {
  height: 55px;
  width: auto;
}

/* .home-link-icon,
.details-link-icon,
.youtube-link-icon,
.github-link-icon {
  position: relative;
  width: 35px;
  height: 35px;
  vertical-align: right;
  margin-left: -20px;
  z-index: 1;
} */

.home-link-icon 
{
  position: relative;
  width: 35px;
  height: 35px;
  vertical-align: right;
  margin-left: -25px;
  z-index: 1;
  margin-top: 4px;
}

.details-link-icon
{
  position: relative;
  width: 35px;
  height: 35px;
  vertical-align: right;
  margin-left: -15px;
  margin-top: 5px;
  z-index: 1;
}

.youtube-link-icon
{
  position: relative;
  width: 35px;
  height: 35px;
  vertical-align: right;
  margin-left: -5px;
  margin-top: 5.5px;
  z-index: 1;
}

.github-link-icon
{
  position: relative;
  width: 35px;
  height: 35px;
  vertical-align: right;
  margin-left: -15px;
  margin-top: 3.5px;
  z-index: 1;

}

.Navbar-links-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 22px;
  margin: 10px;
  font-family: "Latin";
  text-shadow: 0px 2px 4px rgba(200, 55, 105, 1.4);

  min-height: 0;

  align-items: flex-start;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .Navbar-links-container a {
    font-size: 22px;
    margin: 5px;
  }
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  margin-left: auto;
  width: 100px;
}

.mobile-menu {
  position: absolute;
  top: 60px;
  right: 0;
  width: 185px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  z-index: 100;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.mobile-menu a {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-family: "Latin";
  font-size: 18px;
  text-shadow: 0px 2px 4px rgba(200, 55, 105, 1.4);
}

.mobile-menu a:hover {
  color: #8400ff;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
}