.dropdown-container {
  position: relative;
  align-items: flex-start;
  justify-content: space-around;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
}

.dropdown-container:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
}

.dropdown-menu {
  position: absolute;
  top: 65%;
  left: 0;
  z-index: 10;
  border-radius: 3px;
  justify-content: space-evenly;
}